.wp-block-book-display-book-block .row-flex .div {  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

/* Responsive styles for phone-size screens */
@media only screen and (max-width: 600px) {
  /* Flexbox styles */
  /* Column container */
  .row-flex {  
    flex-direction: column;
  }

  .wp-block-book-display-book-block .titlepage,
  .wp-block-book-display-book-block-right .titlepage {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .wp-block-book-display-book-block .blurb,
  .wp-block-book-display-book-block-right .blurb {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  /* Do not display the right-aligned cover image on small screens */
  .wp-block-book-display-book-block-right .row-flex .cover-style-right {
    display: none;
  }
}

/* Responsive styles for tablet-sized screens */
@media only screen and (min-width: 601px) {
  /* Flexbox Styles */
  /* Column container */
  .row-flex {  
    flex-direction: column;
  }

  .wp-block-book-display-book-block .titlepage,
  .wp-block-book-display-book-block-right .titlepage {
    margin-top: 2px;
    margin-bottom: 2px;
  } 

  .wp-block-book-display-book-block .blurb,
  .wp-block-book-display-book-block-right .blurb {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

}

/* For larger tablets */
@media only screen and (min-width: 768px) {
  /* Flexbox styles */
  /* Column container */
  .row-flex {  
    flex-direction: column;
  }

  .wp-block-book-display-book-block .blurb,
  .wp-block-book-display-book-block-right .blurb {
    font-size: 25px;
  }

  .wp-block-book-display-book-block .h2,
  .wp-block-book-display-book-block-right .h2 {
    padding: 20px;
  }

  .wp-block-book-display-book-block-right .row-flex .cover-style-right {
    display: none;
  }
}

/* For desktop */
@media only screen and (min-width: 1025px) {
  .row-flex {  
    flex-direction: row;
  }

  .wp-block-book-display-book-block .text-style {
    max-width: 50%;
    margin-left: 20px;
  }

  .wp-block-book-display-book-block-right .text-style {
    max-width: 50%;
    margin-right: 20px;
  }

  .wp-block-book-display-book-block .purchase-links,
  .wp-block-book-display-book-block-right .purchase-links {
    text-align: center;
  }

  .wp-block-book-display-book-block-right .row-flex .cover-style-mobile {
   display: none;
  } 

  .wp-block-book-display-book-block-right .row-flex .cover-style-right {
    display: block;
  }
}